# Node.js (React)
**/node_modules/
**/build/
**/dist/
**/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java (Spring Boot)
**/target/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/.vscode/
**/*.iml
**/.mvn/
**/logs/
**/log/

# Python (Scraper)
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.venv/
**/venv/
**/.env
**/.DS_Store
*.pt
*.pth
*.onnx

# Docker & SSL
certbot/conf/
certbot/www/
ssl/

# OS / System files
*.swp
*.swo
*.bak
Thumbs.db
.DS_Store

# Environment files
.env
.env.local
.env.development
.env.production

# IntelliJ IDEA
.idea/

# VSCode
.vscode/

# Logs
*.log
*.out

# Other
*.crt
*.key
notes.txt