JWT_SECRET=your_secret_here

MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=YOUR_DATABASE_NAME

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/YOUR_DATABASE?createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=YOUR_DB_USERNAME
SPRING_DATASOURCE_PASSWORD=YOUR_DB_PASSWORD

JWT_SECRET=YOUR_JWT_SECRET
MY_JWT_SECRET=YOUR_JWT_SECRET

WEBPUSH_PUBLIC_KEY=YOUR_WEBPUSH_PUBLIC_KEY
WEBPUSH_PRIVATE_KEY=YOUR_WEBPUSH_PRIVATE_KEY
WEBPUSH_MAIL=mailto:you@example.com

BREVO_USERNAME=your-brevo-smtp-username
BREVO_PASSWORD=your-brevo-smtp-password
BREVO_API_KEY=your-brevo-api-key
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

PYTHON_SCRAPER_URL=http://host.docker.internal:8000
PYTHON_SCRAPER_SECRETKEY=YOUR_SCRAPER_SECRET_KEY

FRONTEND_BASE_URL=http://localhost:3000
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

#Not required twillo though, not compulsory
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
